.main {
	margin-top: 60px;
}

pre {
	height: 440px;
}

.navbar-brand {
	color: #fff !important;
}

.navbar-brand img {
    width: 50px;
    margin-top: -10px;
    display: inline;
    margin-right: 10px;
    opacity: 0.9;
}